.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

.roll {
  position: relative;
  text-align: center;
  display:grid;
}

.buttonRefresh {
  position: relative;
  text-align: center;
  padding-top: 2rem;
}

.refresh {
  background-color: #4ECCA3;
  width: 5rem;
  height: 2rem;
  border-color: red;
  border-radius: 6%;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
